#### Importing

In [27]:
import pandas as pd
import numpy as np

#### Datasets

In [28]:
tourism_df = pd.read_csv("Tourism_Hospitality_Industry_Analysis.csv")
policy_df = pd.read_csv("Tourism_City_Policy_Data.csv")

#### Set indexes for the JOIN using Country and City as compound keys

In [22]:
tourism_df_indexed = tourism_df.set_index(['Country', 'City'])
policy_df_indexed = policy_df.set_index(['Country', 'City'])

#### Left Join

In [23]:
left_join_df = tourism_df_indexed.join(
    policy_df_indexed, 
    how="left", 
    lsuffix='_tourism', 
    rsuffix='_policy'
)

In [29]:
print(left_join_df.isna().sum())

Year                                  0
Month                                 0
Number_of_Tourists                    0
Purpose_of_Visit                      0
Average_Length_of_Stay                0
Tourist_Spending_USD                  0
Hotel_Occupancy_Rate                  0
Number_of_Hotels                      0
Hotel_Rating                          0
Average_Room_Price_USD                0
Tourism_Revenue_USD                   0
Employment_in_Tourism                 0
Contribution_to_GDP_Percent           0
Number_of_Flights                     0
Airport_Passenger_Traffic             0
Transport_Infrastructure_Quality      0
Eco_Tourism_Revenue_USD               0
Carbon_Footprint_kg                   0
Waste_Management_Rating               0
Tourist_Satisfaction_Score            0
Number_of_Online_Reviews              0
Sustainable_Tourism_Policy_Score    397
Marketing_Budget_Million_USD        397
Tourism_Tax_Rate_Percent            397
Visitor_Information_Centers         397
Has_Cruise_Port                     397
dtype: int64

#### I chose a left merge becasue my main dataset is the tourism dataset and I want to keep all of its rows regardless of where there is a matching policy data. 
#### By merging on the Country and City columns, all rows from the main tourism dataset are retained, while policy data is added where available. Only the 10 matching pairs from thew policy dataset are merged.
#### NA values appear in the 5 new policy columns for the 397 unmatched tourism records. These represent cities with no policy data.

In [33]:
print(left_join_df.head())

                           Year  Month  Number_of_Tourists Purpose_of_Visit  \
Country        City
Italy          Venice      2022      2              171958         Cultural
India          Mumbai      2020      3               55311        Religious
Japan          Tokyo       2022      4               81551          Leisure
United Kingdom Manchester  2021      1              160510      Educational
Egypt          Luxor       2022     12              141387         Cultural

                           Average_Length_of_Stay  Tourist_Spending_USD  \
Country        City
Italy          Venice                        12.4               1325.46
India          Mumbai                        14.9               3278.67
Japan          Tokyo                          8.1               4369.73
United Kingdom Manchester                     4.3               2259.77
Egypt          Luxor                          2.6               1963.99

                           Hotel_Occupancy_Rate  Number_of_Hotels  \
Country        City
Italy          Venice                      79.0                70
India          Mumbai                      70.6               302
Japan          Tokyo                       74.0               378
United Kingdom Manchester                  49.1               437
Egypt          Luxor                       59.4               387

                          Hotel_Rating  Average_Room_Price_USD  ...  \
Country        City                                             ...
Italy          Venice           1-star                  120.21  ...
India          Mumbai          Unrated                  244.38  ...
Japan          Tokyo            1-star                   79.27  ...
United Kingdom Manchester       2-star                  190.27  ...
Egypt          Luxor            5-star                  292.86  ...

                           Eco_Tourism_Revenue_USD  Carbon_Footprint_kg  \
Country        City
Italy          Venice                     48484.36          21075968.92
India          Mumbai                     19620.39           7535713.00
Japan          Tokyo                      19240.21          15686948.95
United Kingdom Manchester                 94513.26          44927014.38
Egypt          Luxor                      69573.18          18354896.74

                           Waste_Management_Rating  \
Country        City
Italy          Venice                          7.5
India          Mumbai                          6.6
Japan          Tokyo                           3.2
United Kingdom Manchester                      4.6
Egypt          Luxor                           9.9

                           Tourist_Satisfaction_Score  \
Country        City
Italy          Venice                             9.7
India          Mumbai                             6.9
Japan          Tokyo                              8.4
United Kingdom Manchester                         9.6
Egypt          Luxor                              8.9

                           Number_of_Online_Reviews  \
Country        City
Italy          Venice                          2533
India          Mumbai                          1367
Japan          Tokyo                            875
United Kingdom Manchester                      7729
Egypt          Luxor                           2127

                           Sustainable_Tourism_Policy_Score  \
Country        City
Italy          Venice                                  69.0
India          Mumbai                                  77.0
Japan          Tokyo                                   55.0
United Kingdom Manchester                              97.0
Egypt          Luxor                                   83.0

                           Marketing_Budget_Million_USD  \
Country        City
Italy          Venice                               7.1
India          Mumbai                               6.7
Japan          Tokyo                               23.1
United Kingdom Manchester                          23.4
Egypt          Luxor                               13.2

                           Tourism_Tax_Rate_Percent  \
Country        City
Italy          Venice                          11.0
India          Mumbai                          13.0
Japan          Tokyo                            7.0
United Kingdom Manchester                       9.0
Egypt          Luxor                            7.0

                           Visitor_Information_Centers  Has_Cruise_Port
Country        City
Italy          Venice                              2.0            False
India          Mumbai                              8.0            False
Japan          Tokyo                               5.0            False
United Kingdom Manchester                          1.0            False
Egypt          Luxor                               8.0            False

[5 rows x 26 columns]

In [34]:
left_join_df.to_csv("Tourism_Hospitality_Industry_with_Policy.csv", index=True)